<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-input style="background-color: gray" type="text" [(ngModel)]="encodText"></ion-input>
    <button ion-button block (click)="encode()">Encoder</button>
    <div *ngIf="encodedData.text">
      <span>{{encodedData.text}}</span>
    </div>
  </div>
  <div>
    <button ion-button block (click)="scan()">Scan</button>
    <div *ngIf="scannedData.text">
      <label>barcode:</label>
      <br>
      <span>{{scannedData.text}}</span>
    </div>
  </div>
  <ion-card>
    <ngx-qrcode [qrc-value]="encodedData"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{encodedData}}</p>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="sharing()">Sharing</button>

</ion-content>
